* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header {
    text-align: center;
    padding: 25px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#start-button {
    background-color: red;
    color: white;
    font-size: 20px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    width: 150px;
    
}

#start-button:hover {
    cursor: pointer;
}
#gameBoard {
    display: none;
    border: solid 1px purple;
    margin: 30px;
}

li {
    list-style-type: none;
    padding: 10px;
    border: solid 1px red;
}